/*Header*/
#header-content{
	color: rgba(0,0,0,.8);
	justify-content: space-between;
}
.menu-hamburguer{
	cursor: pointer;
	-ms-align-items: center;
	align-items: center;
}
.menu-hamburguer p{
	font-size: .8em;
	padding-left: .3em;
	font-family: sans-serif;
}
.bt-action-user{}
.bt-action-user i{
	cursor: pointer;
	padding: 0 0 0 1em;
}
.bt-action-user i:hover{color: tomato;}
.bt-action-user i:first-child{padding: 0;}