/*Navegation Left Bar*/
#aside-navegation{
	padding: 0 1em;
	background-color: rgba(0,0,0,.8);
}
#nav-left-bar{
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
#nav-left-bar a{
	color: rgba(255,255,255,.9);
	text-decoration: none;
	font-family: sans-serif;
	padding: .5em 0;
}
#nav-left-bar .icon-opt-nav-bar{
	font-size: 1.4em;
	padding: .3em 0;
}
#nav-left-bar a:hover{color: tomato;}
.legend-item{
	font-size: .5em;
	text-transform: uppercase;
}