/*Navegation Left Bar*/
#aside-navegation{
	padding: 0 1em;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(226,122,122,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(226,122,122,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(226,122,122,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#e27a7a',GradientType=0 );
}
#nav-left-bar{
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}
#nav-left-bar a{
	color: rgba(255,255,255,.9);
	text-decoration: none;
	font-family: sans-serif;
	padding: .5em 0;
}
#nav-left-bar .icon-opt-nav-bar{
	font-size: 1.2em;
	padding: .3em 0;
}
#nav-left-bar a:hover{color: rgba(226,122,122,1);}
.legend-item{
	font-size: .47em;
	text-transform: uppercase;
}