/*Main*/
#main{
	max-height: 100%;
	width: 100vw; height: 100vh;
	position: relative;
}
/*Main content*/
#content-main{
	-webkit-flex: 1 100%;
	-moz-flex: 1 100%;
	-ms-flex: 1 100%;
	-o-flex: 1 100%;
	flex: 1 100%;
	padding: 1em;
}
/*Page login*/
#login-page{
	max-height: 100%;
	width: 100vw; height: 100vh;
	background-image: url('../media/image/bg/bg-login-page.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.box-login{
	border-radius: 2px;
	max-width: 350px;
	width: 100vw;
	padding: 1em;
	background-color: rgba(255,255,255,1);
	-webkit-box-shadow: 4px 4px 7px 0 rgba(0,0,0,.2);
	box-shadow: 4px 4px 7px 0 rgba(0,0,0,.2);
}
.box-login .social-login{
	margin-top: -4em;
	-webkit-box-shadow: 4px 4px 7px 0 rgba(0,0,0,.4);
	box-shadow: 4px 4px 7px 0 rgba(0,0,0,.4);
}
.login-default{justify-content: center;}